{% extends "base.html" %}
{% block title %}Мои станции{% endblock %}
{% block content %}

<main class="container my-5">

    <h1 class="mb-4 text-center">МОИ СТАНЦИИ</h1>

    <div class="table-responsive">
        <table class="table table-hover align-middle text-center">
            <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Координаты</th>
                    <th scope="col">Наблюдения</th>
                    <th scope="col">Будущие</th>
                    <th scope="col">Антенны</th>
                </tr>
            </thead>
            <tbody>
                {% for station in stations %}
                <tr data-station-id="{{ station[0] }}">
                    <th scope="row">{{ station[0] }}</th>
                    <td>{{ station[1] }}</td>
                    <td>{{ station[2] }}</td>
                    <td>{{ station[3] }}</td>
                    <td>{{ station[4] }}</td>
                    <td>{{ station[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='/users.js') }}"></script>
</main>

{% endblock %}